@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */

:root {
  font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --shadow-heavy: 0px 0px 5px 3px #dbdbdb;
  --shadow: 0px 0px 5px 1px #dfdfdf;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --shadow-heavy: none;
    --shadow: none;
  }

  .p-inputtext,
  .p-select {
    background: var(--p-primary-background) !important;
  }
} */

body {
  margin: 0;
}

.main {
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--p-primary-background);
}

.container {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.box {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
  flex: 1;
  border-radius: var(--p-inputtext-border-radius) !important;
  padding: 0.5rem;
  background-color: var(--p-primary-background-contrast);
  box-shadow: var(--shadow);
}

.p-datatable-tbody > tr {
  transition: background-color 0.2s ease-in-out !important;
}

.authContainer {
  background-image: url("assets/images/login.png");
  background-size: cover;
}

.auth {
  border-radius: 12px;
  padding: 2rem;
  background-color: var(--p-primary-background);
}

.authTitle {
  color: var(--p-primary-contrast-text);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}

.authTitle > img {
  height: 20vh;
  max-height: 200px;
  object-fit: contain;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  /* titulo das tabelas */
  font-size: 1.4rem;
  font-weight: bold;
  border-bottom: 1px solid #e0e0e0;
}

/* Form */

.p-inputtext,
.p-textarea,
.input {
  width: 20vw !important;
  font-size: 1rem !important;
}

.btn {
  min-width: 10vw;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 0.2rem;
}

/* Toolbar */

.toolbar {
  border: 0px !important;
  padding: 0.5rem !important;
  margin-bottom: 0.5rem;
}

.p-toolbar-start,
.p-toolbar-center,
.p-toolbar-end {
  flex: 1;
}
.p-toolbar-start {
  justify-content: flex-start;
  display: flex;
}
.p-toolbar-center {
  justify-content: center;
  display: flex;
}
.p-toolbar-end {
  justify-content: flex-end;
  display: flex;
}

.p-toolbar-start,
.p-toolbar-center,
.p-toolbar-end {
  max-width: 33%;
}

/* Datatable */

td {
  padding: 0.5rem !important;
}

/* Graphs */

.p-carousel {
  width: 70vw;
}

.p-chart {
  display: flex;
  justify-content: center;
}

canvas {
  width: min-content !important;
  height: 50vh !important;
}

/* Other */

.p-inputtext:hover,
.p-select:hover {
  border-color: var(--p-primary-hover-color) !important;
}

i:hover {
  cursor: pointer;
}
