:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

.main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.p-inputtext:hover,
.p-select:hover {
  border-color: var(--p-primary-hover-color) !important;
}

.p-inputtext {
  width: 20vw;
  height: 7vh;
}

.p-button {
  min-width: 10vw;
}

.p-dialog-header {
  padding: 1rem 0 0 2rem !important;
}

.p-dialog-content > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TODO */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
